<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>About Page</title>
</head>
<body>
    <div id="content">
        <h1>Welome to about page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea magni exercitationem necessitatibus ipsa. Quia nobis esse voluptatem unde eius! Nulla delectus voluptate assumenda quidem necessitatibus tempore architecto iste id odio.</p>
    </div>
    <script>
        console.log("about page")
    </script>
</body>
</html>